<div class="login-wrapper " fxLayout="column" fxLayoutAlign="center center"> 
    <div class="p-3">
        <app-add-recipe></app-add-recipe>
    </div>
    <div class="spinner-border text-primary spinDimension mt-3" role="status" *ngIf="recipesDefined">
        <span class="sr-only">Loading...</span>
    </div>
    <ngb-accordion #accordion class="d-flex p-3 w-75 flex-column" [closeOthers]="true" #a="ngbAccordion">
        <ngb-panel *ngFor="let recipe of recipes | slice: (page-1) * pageSize : page * pageSize, let i=index">
            <ng-template ngbPanelHeader>
                <div class="d-flex align-items-center justify-content-between">    
                    <button
                        ngbPanelToggle
                        class="btn btn-link container-fluid text-left pl-0"
                        (click)="disabled = !disabled"
                    >
                        {{recipe.title}}   
                    </button>
                    <div class="d-flex align-items-center justify-content-between">
                        <app-edit-recipe [recipe]=recipe></app-edit-recipe>
                        <app-remove-recipe [recipe]=recipe></app-remove-recipe>
                        <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">
                            {{accordion.panels._results[i].isOpen ? "▲" : "▼"}}
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>

                <div >
                    <h2 class="infosRecipe">Description : </h2>
                    <p class="infosRecipe">{{recipe.desc}}</p>
                </div>
                <div >
                    <h2 class="infosRecipe">Categories : </h2>
                    <p class="infosRecipe"><span *ngFor="let categorie of recipe.categories">{{categorie}}, </span></p>
                </div>
                <div >
                    <h2 class="infosRecipe">Ingredients : </h2>
                    <p class="infosRecipe" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}, </p>
                </div>
                <div >
                    <h2 class="infosRecipe">Directions : </h2>
                    <ul><li class="directionList" *ngFor="let direction of recipe.directions">{{direction}} </li></ul>
                </div>
                <div >
                    <h2 class="infosRecipe">Nutritionnal infos : </h2>
                    <p class="infosRecipe">{{recipe.calories}} kcal, {{recipe.fat}}g of fat, {{recipe.protein}}g of proteins, {{recipe.sodium}}mg of salt</p>
                </div>
                <div >
                    <h2 class="infosRecipe">Rating : </h2>
                    <p class="infosRecipe">{{recipe.rating}}/5</p>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="recipesLength" [maxSize]="7" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>