<div class="login-wrapper " fxLayout="column" fxLayoutAlign="center center"> 
    <div class="p-3">
        <app-add-recipe></app-add-recipe>
    </div>
    <mat-spinner *ngIf="recipesDefined"></mat-spinner>
    <ngb-accordion #accordion class="d-flex p-3 w-75 mt-2 flex-column" [closeOthers]="true" #a="ngbAccordion">
        <ngb-panel *ngFor="let recipe of recipes | slice: (page-1) * pageSize : page * pageSize, let i=index">
            <ng-template ngbPanelHeader>
                <div class="d-flex align-items-center justify-content-between">    
                    <button
                        ngbPanelToggle
                        class="btn btn-link container-fluid text-left pl-0"
                        (click)="disabled = !disabled"
                    >
                        {{recipe.title}}   
                    </button>
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-sm btn-outline-warning ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                        <app-remove-recipe [recipe]=recipe></app-remove-recipe>
                        <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">
                            {{accordion.panels._results[i].isOpen ? "▲" : "▼"}}
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>

                <div >
                    <h2 class="infosRecipe">Description : </h2>
                    <p class="infosRecipe">{{recipe.desc}}</p>
                </div>
                <div >
                    <h2 class="infosRecipe">Categories : </h2>
                    <p class="infosRecipe"><span *ngFor="let categorie of recipe.categories">{{categorie}}, </span></p>
                </div>
                <div >
                    <h2 class="infosRecipe">Ingredients : </h2>
                    <p class="infosRecipe" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}, </p>
                </div>
                <div >
                    <h2 class="infosRecipe">Directions : </h2>
                    <ul><li class="directionList" *ngFor="let direction of recipe.directions">{{direction}} </li></ul>
                </div>
                <div >
                    <h2 class="infosRecipe">Nutritionnal infos : </h2>
                    <p class="infosRecipe">{{recipe.calories}} kcal, {{recipe.fat}}g of fat, {{recipe.protein}}g of proteins, {{recipe.sodium}}mg of salt</p>
                </div>
                <div >
                    <h2 class="infosRecipe">Rating : </h2>
                    <p class="infosRecipe">{{recipe.rating}}/5</p>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="recipesLength" [maxSize]="7" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>