<!-- Toolbar -->
<!DOCTYPE html>

<html lang="fr">
  <head>
    <title>Prep'eat</title>
  </head>

  <body>
    <mat-toolbar color="primary" class="app-header">
      <div><a href="https://www.positronx.io" target="_blank" class="positronx">Prep'Eat</a></div>
      <span class="nav-tool-items">
        <a mat-button mat-raised-button routerLink="login" routerLinkActive="active" *ngIf="!loggedIn">Login</a>
        <a mat-button mat-raised-button routerLink="register" routerLinkActive="active" *ngIf="!loggedIn">Register</a>
        <a mat-button mat-raised-button routerLinkActive="active" *ngIf="loggedIn" (click)="logout()">Logout</a>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </body>

</html>